<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<button id = "btn1">点击我右击</button>
	<script type="text/javascript">
		// //这一步是为了阻止右击时系统默认的弹出框
		// document.getElementById("btn1").oncontextmenu = function(e){
	  //       e.preventDefault();
	  //   };
    //   //在这里你就可以自己定义事件的函数啦
    // var myEvent = new Event('Event1');

		// document.getElementById("btn1").onmouseup=function(oEvent) {
    //   console.log(oEvent);
      
    //     if (!oEvent) oEvent=window.event;
        
		//     if (oEvent.button==2) {
    //         alert('鼠标右击了');
    //         myEvent.emit
		//     }
    // }
    var elem = document.getElementsByTagName("body")[0];
var event = new Event('test');
elem.addEventListener('test', function (e) { 
    console.log("test事件被触发了！");
}, false);
elem.dispatchEvent(event); //test事件被触发了！


function customEvents(){
  return {

      callbacks: {}, //空对象用来存储事件队列

      addEvent: function(msg,callback){
          this.callbacks[msg] = this.callbacks[msg] || [];
          this.callbacks[msg].push(callback); // 存入事件
      },
      fireEvent: function(msg){
          this.callbacks[msg] = this.callbacks[msg] || [];
          for(var i = 0,len = this.callbacks[msg].length; i < len; i++){
              this.callbacks[msg][i].apply(this,arguments); // 触发
          };
      },
      removeEvent: function(msg){
          this.callbacks[msg] = null; //删除该事件
      }

  };
}


var a = new customEvents();
function bigbang(){
    console.log("bigbang!!");
}

a.addEvent("fire",bigbang); // 绑定fire事件，执行bigbang
a.fireEvent("fire"); //bigbang！！
a.removeEvent("fire"); //解除该事件绑定
a.fireEvent("fire"); //
    
	</script>
</body>
</html>


